.albums_main {
  padding: 15px 10px 15px;
  border: 2px solid;
  margin-bottom: 7px;
}

.albums_main:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.albums_main a {
  text-decoration: none;
  color: black;
}

.gridWrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px  ;
  row-gap: 20px;
}

.photoGrid img {
  height: 150px;
  width: 150px;
  padding: 15px 15px 15px;
  border: 1px solid;
}